<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="ja" th:fragment="site-head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/plugins/jquery-ui-1.12.1/jquery-ui.css}" type="text/css" />

<script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script type="text/javascript"
	th:src="@{/plugins/jquery-ui-1.12.1/jquery-ui.js}"></script>

</head>

<body>


	<div id="container">
		<div id="main">
			<div id="info"></div>
			<div id="contents" class="main contents_box pt15 pl15 mt10">
				<form id="bookForm" th:action="@{/book/edit}" th:object="${book}"
					method="post">
					<input id="id" name="id" hidden="hidden" th:value="*{id}" />

					<!-- Name -->
					<p class="mt10 ml20">
						<label class="w130 default_label bold_label">Name</label> <span
							class="required"> ※ </span> <input id="name"
							class="w650 ime_active" name="name" type="text" maxlength="50"
							th:field="*{name}" tabindex="1"></input>
					</p>

					<!-- Publisher -->
					<p class="mt10 ml20">
						<label class="w130 default_label bold_label" style="float: left;">Publisher</label>
						<span class="required"
							style="float: left; margin-left: 5px; margin-right: 5px; margin-top: 7px;">
							※ </span> <input id="publisher" class="w650 ime_active" name="publisher"
							type="text" maxlength="50" th:field="*{publisher}" tabindex="2"></input>
					</p>


					<!-- Number of pages -->
					<p class="mt10 ml20">
						<label class="w130 default_label bold_label" style="float: left;">Number
							of pages</label> <span class="required"
							style="float: left; margin-left: 5px; margin-right: 5px; margin-top: 7px;">
							※ </span> <input id="page" maxlength="200" name="page"
							class="w650 ime_active" style="max-width: 634px;"
							th:value="*{page}" tabindex="3"></input>
					</p>

					<br />
					<p class="ml20">
						<a href="javascript:{}" th:onclick="'javascript:updateBook()'"
							id="saveBtn" class="submit_btn" tabindex="4">Update</a>
					</p>
				</form>
				<button type="button" th:onclick="'javascript:returnBookList()'">Return</button>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function() {
		});

		function updateBook() {
// 			console.log("update");
			/*<![CDATA[*/
			var x;
			var y;
			var z;
			x = document.getElementById("name").value;
			y = document.getElementById("publisher").value;
			z = document.getElementById("page").value;
			if (x == "" || y == "" || z == "") {
				alert("Please enter information");
				return false;
			}
			document.getElementById('bookForm').submit();

			/*]]>*/
		}

		function returnBookList() {
			window.location.href = "./";
		}
	</script>
</body>
</html>